# Ignore environment files
.env

# Ignore Jupyter checkpoints
notebooks/.ipynb_checkpoints/

#Ignore folders
data/
figures/
src/__pycache__/

# Ignore specific files
.DS_Store
src/__pycache__/
notebooks/visualisations/combine_df.ipynb
notebooks/visualisations/SM_param_map.ipynb
