# Ignore environment files
.env
morphomet.yml
morphoclim_020326.yml

# Ignore Jupyter checkpoints
notebooks/.ipynb_checkpoints/

#Ignore folders
data/
figures/
notebooks/daytime/
src/__pycache__/

# Ignore specific files
.DS_Store
src/__pycache__/
notebooks/compare_HW.ipynb
notebooks/delaunay.ipynb
notebooks/1_calc_params_extra_calcs.ipynb
notebooks/visualisations/combine_df.ipynb
notebooks/visualisations/SM_param_map.ipynb
notebooks/visualisations/scale_area.ipynb
notebooks/visualisations/fig5_hin_corr_archive.ipynb
notebooks/visualisations/fig5_hin_corr_merged_blocks.ipynb
notebooks/visualisations/fig5_hin_corr_loess_detail.ipynb
notebooks/visualisations/fig6_meteobike_270623_bootstrap.ipynb
notebooks/visualisations/fig7_scale_archive.ipynb
notebooks/visualisations/fig10_spider_plot.ipynb
notebooks/visualisations/fig10_spider_plot_archive.ipynb